@import "tailwindcss";

@theme {
  --color-primary-blue: #1F5077;
  --color-primary-beige: #FBF7F2;
  --color-primary-grey: #696F79;
  --color-primary-blue-hover: #337cb5;

  --my-radius : 7px;
}

body{
    background-color: #FBF7F2;
}

.form_input{
  @apply mb-6 w-full h-12 rounded-(--my-radius) border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-blue focus:border-transparent
}

.form_submit{
  @apply w-full h-12 bg-primary-blue text-white py-2 rounded-(--my-radius) hover:bg-primary-blue-hover transition-colors hover:cursor-pointer font-semibold
}

.input_alone_text{
  @apply rounded-(--my-radius) bg-white px-4 py-2 text-gray-600 text-sm md:w-100 h-12 w-70
}
.input_alone_other{
  @apply rounded-(--my-radius) bg-white px-4 py-2 text-gray-600 text-sm w-60 h-12
}
.menu_not_active{
  @apply flex items-center gap-3 p-2 rounded-md hover:bg-blue-100 text-gray-700 font-medium
}
.menu_active{
  @apply flex items-center gap-3 p-2 rounded-md hover:bg-primary-blue-hover text-primary-beige bg-primary-blue font-medium
}

.header_page{
  @apply flex justify-between items-center mb-6 w-screen mt-10 md:mt-0 md:w-full  border-b-4 border-primary-blue p-4
}
